<html>

<head>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	 crossorigin="anonymous">
	<!-- ROS stuff -->
	<script type="text/javascript" src="https://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
	<script type="text/javascript" src="https://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>

    <!-- Map -->
	<script type="text/javascript" src="https://static.robotwebtools.org/EaselJS/current/easeljs.min.js"></script>
	<script type="text/javascript" src="https://static.robotwebtools.org/ros2djs/current/ros2d.min.js"></script>

    <!-- 3D visualization -->
    <!-- <script src="http://static.robotwebtools.org/threejs/current/three.min.js"></script> -->
    <script src="./libs/three.min.js"></script>
    <!-- <script src="http://static.robotwebtools.org/threejs/current/ColladaLoader.min.js"></script> -->
    <script src="./libs/ColladaLoader.js"></script>
    <!-- <script src="http://static.robotwebtools.org/ColladaAnimationCompress/current/ColladaLoader2.min.js"></script> -->
    <script src="./libs/ColladaLoader2.js"></script>
    <!-- <script src="http://static.robotwebtools.org/threejs/current/STLLoader.min.js"></script> -->
    <script src="./libs/STLLoader.js"></script>
    <!-- <script src="http://static.robotwebtools.org/ros3djs/current/ros3d.min.js"></script> -->
    <script src="./libs/ros3d.min.js"></script>

    <!-- Camera -->
	<script src="./libs/mjpegcanvas.min.js"></script>

	<!-- Vuejs -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7">

	</script>
</head>

<body>
	<div id="app" class="container-fluid">
		<div class="row">
			<div class="col-3 text-center">
                <div class="card mt-2">
                    <div class="card-body">
                        <h3>Connection status</h3>
                        <p class="text-danger" v-if="!connected">Not connected!</p>
                        <p class="text-success" v-if="connected">Connected!</p>
                        <label>ROSBridge address</label>
                        <br>
                        <input type="text" v-model="rosbridge_address" />
                        <br><br>
                        <button :disabled="loading" class="btn btn-danger" @click="disconnect"
                            v-if="connected">Disconnect!</button>
                        <button :disabled="loading" class="btn btn-success" @click="connect" v-else>Connect!</button>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header">
                        <h4>Logs</h5>
                    </div>
                    <div class="card-body">
                        <p v-for="log in logs">{{ log }}</p>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="card mt-2">
                    <div class="card-header">
                        <h3>Controls</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 text-center">
                                <div class="card mt-2">
                                    <div class="card-header">
                                        <h4>Robot model</h4>
                                    </div>
                                    <div class="card-body">
                                        <div id="div3DViewer"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 text-center">
                                <div class="card mt-2">
                                    <div class="card-header">
                                        <h4>Generated Map</h4>
                                    </div>
                                    <div class="card-body">
                                        <div id="map"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 text-center">
                                <div class="card mt-2">
                                    <div class="card-header">
                                        <h4>Camera</h4>
                                    </div>
                                    <div class="card-body">
                                        <div id="divCamera"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 text-center">
                                <div class="card mt-2">
                                    <div class="card-header">
                                        <h4>Joystick</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4 offset-4">
                                                <button class="btn btn-primary" @click.prevent="commandGoAhead">Go ahead</button>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col-4">
                                                <button class="btn btn-primary" @click.prevent="commandTurnLeft">Turn Left</button>
                                            </div>
                                            <div class="col-4">
                                                <button class="btn btn-danger" @click.prevent="commandStop">Stop</button>
                                            </div>
                                            <div class="col-4">
                                                <button class="btn btn-primary" @click.prevent="commandTurnRight">Turn Right</button>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col-4 offset-4">
                                                <button class="btn btn-primary" @click.prevent="commandBackward">Go backward</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mt-2">
                                    <div class="card-header">
                                        <h4>Waypoint</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row mt-2">
                                            <div class="col-3 offset-2 text-center">
                                                <button class="btn btn-primary" @click.prevent="commandWaypoint(3, 3)">Go (3, 3)</button>
                                            </div>
                                            <div class="col-3 offset-2 text-center">
                                                <button class="btn btn-primary" @click.prevent="commandWaypoint(-3, 3)">Go (-3, 3)</button>
                                            </div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="col-4 offset-4 text-center">
                                                <button class="btn btn-primary" @click.prevent="commandWaypoint(0,0)">Back home (0,0)</button>
                                            </div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="col-3 offset-2 text-center">
                                                <button class="btn btn-primary" @click.prevent="commandWaypoint(-3, -3)">Go (-3, -3)</button>
                                            </div>
                                            <div class="col-3 offset-2 text-center">
                                                <button class="btn btn-primary" @click.prevent="commandWaypoint(3, -3)">Go (3, -3)</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        // We could have loaded main.js simply with:
        //  <script type="text/javascript" src="main.js">
        //
        // BUT we were having caching-related problems.
        // Loading main.js with a Date.now() in the URL we avoid using cache

        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'main.js?v=13.' + Date.now();
        document.head.appendChild(script);
    </script>
</body>

</html>